#bg {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    filter: blur(8px) grayscale(100%);
}

.newOrderBtn:hover {
    filter: brightness(150%);
    border: solid;
}

.container{
    padding: 3rem !important;
}
#heading{
    color: white;
    text-align: center;
}
body{
    background-color: black;
    color: white;
}
.ordersli{
    padding: 2rem;
    width: 45%;
    margin: 1rem;
}
.ordersul {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    
}
.ordersli:hover {
    transform: scale(1.05);
    background-color: rgb(255, 255, 255, 0.2);

}