.selectMixesLi {
    padding: 2rem;
    list-style: none;
    flex-grow: 1;
    margin: 1rem;

}
.selectMixesLi:hover {
    transform: scale(1.05);
    background-color: rgb(255, 255, 255, 0.2);
}
.selectMixesUl {
    padding: 2rem;
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
}
.mix-name{
    text-align: center;
}
#submitBtn{
    float: right;
}
